.wrapper {
    width: 50%;
    margin: 0 auto;

}

.key_success {
    background-color: blue;
}

.key_active {
    background-color: green;
}

.key_failed {
    background-color: red;
}

.key_default {
    background-color: wheat;
}